<br>
<h1>Causes</h1>

<ul>
<li><b>Poor Oral Hygiene</b></li> - Not brushing your teeth regularly allows plaque to build up and attack the tooth enamel.
<br><br>
<li><b>Plaque Formation</b></li> - When not removed on regular basis, plaque adheres to your teeth and builds up over time. In presence of sugar, plaque produces acid which attacks the enamel of your tooth and eventually can cause holes in your teeth, otherwise known as cavities.
<br><br>
<li><b>Dry Mouth</b></li> - Saliva helps wash plaque from the teeth and buffer the acid. If you have a dry mouth with very little saliva, plaque and tooth bacteria may build up more quickly.
<br><br>
<li><b>Eating and Drinking</b></li> - This is where it all begins. Since we all have to eat and drink to live, there’s no way to avoid this, but it does play a significant role in the formation of cavities. When you eat or drink, carbohydrates remain on your teeth until you brush. Even after brushing, you may not be able to remove all food particles or carbohydrates from your teeth. Foods that tend to cling to your teeth can increase your risk for a tooth cavity. Be sure to brush your teeth regularly, especially after drinking milk or sugar containing soda, or after eating dried fruit, dry cereal, hard candy, caramel, taffy, raisins, sugary cereals, , and cookies.
<br><br>
<li><b>Plaque Bacteria and Acid</b></li> - While most people don’t like to think about it, bacteria naturally live in your mouth and on your teeth. When these bacteria digest the carbohydrates that linger on your teeth and in your mouth, acid forms.
<br><br>
<li><b>Medical Problems</b></li> - Some types of cancer treatment that expose the head and neck to radiation can promote a tooth cavity by changing the makeup of the saliva to promote increased bacterial growth.
</ul>

