<br>
<h1>Teeth Growing Stages</h1>

<ul>
<br>
<li><b>Baby Teeth</b></li>
<br><br>
A child's mouth contains 20 initial teeth, called <b>primary teeth, baby teeth, or deciduous teeth,</b> consisting of the following teeth types:
<br><br>
<ul>
 <li>4 second molars</li>
 <li>4 first molars</li>
 <li>4 cuspids (also called canine or eye teeth)</li>
 <li>4 lateral incisors</li>
 <li>4 central incisors</li>
</ul>
<br>
For each set of four teeth, two teeth are located in the upper arch (one on each side of the mouth) and two are located in the lower arch (one on each side of the mouth).


<br> <br>

<li><b> Permanent Teeth </b></li> <br>
The adult mouth contains 32 permanent teeth, consisting of the following teeth types:
<br><br>
<ul>
  <li>4 third molars (also called wisdom teeth)</li>
  <li>4 second molars (also called 12-year molars)</li>
  <li>4 first molars (also called 6-year molars)</li>
  <li>4 second bicuspids (also called second premolars)</li>
  <li>4 first bicuspids (also called first premolars)</li>
  <li>4 cuspids (also called canine or eye teeth)</li>
  <li>4 lateral incisors</li>
  <li>4 central incisors</li>
</ul>
<br> <br>

<li><b>Teeth Functions</b></li>
<br>
Your teeth are used for: <br><br>

<ul>
  <li><b>Biting and tearing.</b></li> <br>
  -The central incisors and lateral incisors are primarily used for biting and cutting and canine teeth are primarily used for tearing food.
   <br><br>
  <li><b>Grinding and crushing.</b></li> <br>
  - The premolars, molars, and wisdom teeth are primarily used for chewing and grinding food.
</ul>
<br><br>
<li><b>How Teeth Are Structured ?</b></li>
<br>
Each tooth consists of three main parts - <b> the crown, the neck and root.</b><br><br>
  <ul>
    <li><b>The crown</b> is the visible part of the tooth.A protective layer called enamel covers the crown.</li>
    <li><b>The neck</b> is the area of the tooth between the crown and the root.</li>
    <li><b>The root</b> is the portion of the tooth that extends through the gum and into the bone of the jaw.</li>
</ul>

</ul>

