<br>
<h1>Symptoms</h1>

<p>

The signs and symptoms of cavities vary, depending on their extent and location.
When a cavity is just beginning, you may not have any symptoms at all. As the decay gets larger,
it may cause signs and symptoms such as:

</p>

<ul>
  <li>Toothache, spontaneous pain or pain that occurs without any apparent cause</li>
  <li>Tooth sensitivity</li>
  <li>Mild to sharp pain when eating or drinking something sweet, hot or cold</li>
  <li>Visible holes or pits in your teeth</li>
  <li>Brown, black or white staining on any surface of a tooth</li>
  <li>Pain when you bite down</li>
</ul>
<br>
<h1>Problems</h1>

<ol>
  <li><b>Bad Breath</b></li> - Bad breath, also called halitosis, can be downright embarrassing.
  According to dental studies, about 85 percent of people with persistent bad breath have a dental condition that is to blame.
  Gum disease, cavities, oral cancer, dry mouth, and bacteria on the tongue are some of the dental problems that can cause bad breath.
  Using mouthwash to cover up bad breath when a dental problem is present will only mask the odor and not cure it.
  <br><br>
  <li><b>Tooth Decay</b></li> - Tooth decay, also known as cavities, is the second only to the common cold as the most prevalent disease in the
  United States.Tooth decay occurs when plaque, the sticky substance that forms on teeth, combines with the sugars and/or starches of the food you eat. This combination produces acids that attack tooth enamel.
  You can get cavities at any age—they aren't just for children.
  <br><br>
  <li><b>Gum (Periodontal) Disease</b></li> - Gum disease, also known as periodontal disease, is an infection of the gums surrounding the teeth. It is also one of the main causes of tooth loss among adults.
  Some studies have indicated that there may be a link between heart disease and periodontal disease. Everyone is at risk for gum disease, but it usually occurs after age 30. Smoking is one of the most significant risk factors.
  Diabetes and dry mouth also increase your risk.
  <br><br>
  <li><b>Oral Cancer</b></li> - Oral cancer is a serious and deadly disease that affects millions of people. The Oral Cancer Foundation estimates that someone in the United States dies every hour from oral cancer,
  but it is often curable if diagnosed and treated in the early stages.
  It is most often seen in people over the age of 40. The biggest risk factors are tobacco and alcohol use, including chewing tobacco.
  HPV—a sexually transmitted wart virus—also increases the risk.
  <br><br>
  <li><b>Mouth Sores</b></li> - There are several types of mouth sores and they can be pesky and bothersome. Unless a mouth sore lasts more than two weeks, it is usually nothing to worry about and will disappear on its own.
  Common mouth sores are canker sores (aphthous ulcers) that occur inside the mouth and not on the lips.
  They are not contagious and can be triggered by many different causes. They are only a concern if they don't go away after two weeks. Fever blisters or cold sores are caused by the Herpes simplex virus and occur on the edge of the outer lips.
  They are contagious and will come and go but are not completely curable. Mouth sores are also seen in oral thrush or candidiasis, a yeast infection of the mouth that can be seen in infants,
  denture wearers, people with diabetes, and during cancer treatment.
  <br><br>

</ol>
