<br>
<h1>Treatment and Prevention</h1>

<ul>
  <li><b>Brush with fluoride toothpaste after eating or drinking.</b></li> -  Brush your teeth at least twice a day and ideally after every meal, using fluoride-containing toothpaste. To clean between your teeth, floss or use an interdental cleaner.
  <br><br>
  <li><b>Rinse your mouth.</b></li> - If your dentist feels you have a high risk of developing cavities, he or she may recommend that you use a mouth rinse with fluoride.
  <br><br>
  <li><b>Visit your dentist regularly.</b></li> - Get professional teeth cleanings and regular oral exams, which can help prevent problems or spot them early. Your dentist can recommend a schedule that's best for you.
  <br><br>
  <li><b>Consider dental sealants</b></li> - A sealant is a protective plastic coating applied to the chewing surface of back teeth. It seals off grooves and crannies that tend to collect food, protecting tooth enamel from plaque and acid. The Centers for Disease Control and Prevention (CDC) recommends sealants for all school-age children. Sealants may last for several years before they need to be replaced, but they need to be checked regularly.
  <br><br>
  <li><b>Avoid frequent snacking and sipping.</b></li> - Whenever you eat or drink beverages other than water, you help your mouth bacteria create acids that can destroy tooth enamel. If you snack or drink throughout the day, your teeth are under constant attack.
  <br><br>
  <li><b>Eat tooth-healthy foods.</b></li> - Some foods and beverages are better for your teeth than others. Avoid foods that get stuck in grooves and pits of your teeth for long periods, or brush soon after eating them. However, foods such as fresh fruits and vegetables increase saliva flow, and unsweetened coffee, tea and sugar-free gum help wash away food particles.
</ul>

