<nav class="navbar navbar-dark bg-dark" style="position:sticky;">
    <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" width="30" height="30" alt="" style="margin-bottom: 3px; margin-right: 10px;">
        {{ title }}

    </a>
</nav>
<div id="Top"></div>
<div class="container">
    <div class="col-sm-offset-3" style="margin-top: 25px;">
        <nav class="navbar navbar-dark bg-dark" style="position:sticky;">
          <a class="navbar-brand" href="#">
                 {{ title2 }}
          </a>
        </nav>
        <br><br>

        <form class="form-inline">
            <label for="yearDropDown" class="my-1 mr-2">Year</label>
            <select name="yearDropDown" class="custom-select my-1 mr-sm-2" [(ngModel)]="yearFilter"
                (change)="yearChanged(yearFilter)">
                <option *ngFor="let year of yearAvailable" [value]="year">{{ year }}</option>
            </select>
            <label for="categoryDropDown" class="my-1 mr-2">Categories</label>
            <select name="categoryDropDown" class="custom-select my-1 mr-sm-2" [(ngModel)]="categoryFilter">
                <option *ngFor="let category of categoryAvailable" [value]="category">{{ category }}</option>
            </select>
            <button class="btn btn-primary my-1" (click)="updateData()">Update</button>

         </form>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="aboutus.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doughnut-chart">Doughnut Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bar-chart">Bar Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pie-chart">Pie Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ranking">Ranking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#comparison">Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#informational">Informations</a>
          </li>
        </ul>
        <div class="border border-dark rounded" style="margin-top: 5px;">
        <div id="map"><app-map #attendanceOralhealthcareMap (geochartAfterInit)="updateInitData()"></app-map></div>

        </div>
        <br>
        <hr/>

    </div>

        <div><app-doughnutchart #attendanceDoughnutChart id="doughnut-chart"></app-doughnutchart></div>
        <br>
        <hr/>
        <div><app-barchart #attendanceBarChart id="bar-chart"></app-barchart></div>
        <br>
        <hr/>
        <div><app-piechart #attendancePieChart id="pie-chart"></app-piechart></div>
        <br><br>
        <div><app-ranking #attendanceRankingList id="ranking"></app-ranking></div>
        <br><br>

        <nav class="navbar navbar-dark bg-dark" style="position:sticky;">
          <a class="navbar-brand" href="#comparison">
                 {{ title3 }}
          </a>
        </nav>
        <br><br>
        <nav class="navbar navbar-dark bg-dark" style="position:sticky;">
        <a class="navbar-brand">
                {{ title5 }}
        </a>
        </nav>
        <div><app-country #attendanceDataSource id="comparison"></app-country></div><br><br>
        <br><br>
         <nav class="navbar navbar-dark bg-dark" style="position:sticky;">
        <a class="navbar-brand">
                {{ title6 }}
        </a>
        </nav>
        <div><app-dynamic></app-dynamic></div><br><br>
        <br><br>
        <br><br>
        <div id="informational">
         <nav class="navbar navbar-dark bg-dark" style="position:sticky;">
          <a class="navbar-brand" href="#">
                 {{ title4 }}
          </a>
        </nav>
        <br><br>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" routerLink="/symptoms" routerLinkActive="active">Symptoms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/causes" routerLinkActive="active">Causes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/treatment" routerLinkActive="active">Treatment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/other" routerLinkActive="active">Other</a>
            </li>
          </ul>
          <div>
              <router-outlet></router-outlet>
          </div>
        </div>
        <a href="#Top" class="text-center">Back To Top!!!</a>

</div>


<footer class="border-top">
    <small class="d-block mb-3 mx-auto text-muted" style="width: 200px;">All rights reserved © 2020</small>
</footer>
